// /////////////////////////
// @@ PAGE
// ////////////////////////

.content
  margin-top: 50px
  .header
    min-height: 200px
    margin-bottom: 15px
  .contact-details
    margin-top: 25px
    a
      line-height: 2em

.footer-wrap
  min-height: 150px
  margin-top: 25px
  border-top: 1px solid #000090
  padding: 15px 0